* {
    box-sizing: border-box;
    margin: 0;
}

.front-wall {
    background: bisque;
    height: 350px;
    width: 350px;
    display: flex;
    position: fixed;
    right: 300px;
    bottom: 75px;
    transform: skewX(2deg);
    transform: skewY(-3deg);
    transform-origin: center left;
    z-index: 2;
}

.grass {
    background: darkgreen;
    height: 200px;
    width: 100vw;
    display: flex;
    position: absolute;
    bottom: 0px;
}

.slanted-wall {
    background: Tan;
    height: 350px;
    width: 315px;
    display: flex;
    position: fixed;
    right: 650px;
    bottom: 75px;
    transform: skewX(-5deg);
    transform: skewY(9deg);
    transform-origin: top right;
    z-index: 2;
}

.door {
    position: fixed;
    background: #6e4018;
    /* background: #111211; */
    height: 150px;
    width: 100px;
    bottom: 89px;
    right: 420px;
    z-index: 4;
    transform: skewX(2deg);
    transform: skewY(-3deg);
    transform-origin: top right;
    border: 5px solid white;
}

/* .door-frame {
    position: fixed;
    background: #ffffff;
    height: 158px;
    width: 114px;
    bottom: 87px;
    right: 414px;
    transform: skewX(2deg);
    transform: skewY(-3deg);
    transform-origin: top right;
    z-index: 3;
} */

.left-roof {
    position: absolute;
    display: flex;
    background:  #6e4018;
    /* background: black; */
    height: 300px;
    width: 350px;
    right: 660px;
    top: -15px;
    transform: skewX(5deg);
    transform: skewY(10deg);
    transform: rotate(28deg);
    transform-origin: bottom right;
    z-index: -3;
}

.right-roof {
    position: absolute;
    display: flex;
    background:  #6e4018;
    /* background: black; */
    height: 300px;
    width: 325px;
    right: 400px;
    top: -55px;
    transform: skewX(5deg);
    transform: skewY(10deg);
    transform: rotate(30deg);
    transform-origin: bottom left;
    z-index: -3;
}

.background1 {
    background: linear-gradient(#6a0d83, #ce4993);
    position: absolute;
    display: flex;
    height: 100px;
    width: 100vw;
    top: 0px;
    z-index: -5;
}

.background2 {
    background: linear-gradient(#ce4993, #ee5d6c);
    position: absolute;
    display: flex;
    height: 100px;
    width: 100vw;
    top: 100px;
    z-index: -5;
}

.background3 {
    background: linear-gradient(#ee5d6c, #fb9062);
    position: absolute;
    display: flex;
    height: 100px;
    width: 100vw;
    bottom: 300px;
}

.background4 {
    background: linear-gradient(#fb9062, #eeaf61);
    position: absolute;
    display: flex;
    height: 100px;
    width: 100vw;
    bottom: 200px;
}

.window1-pane {
    position: absolute;
    display: flex;
    height: 80px;
    width: 80px;
    background: PaleTurquoise;
    bottom: 300px;
    right: 435px;
    z-index: 6;
    transform: skewX(2deg);
    transform: skewY(-3deg);
    transform-origin: top right;
    border-radius: 50%;
    border: 5px solid white;
}

.window2-pane {
    position: absolute;
    display: flex;
    height: 130px;
    width: 130px;
    background: PaleTurquoise;
    bottom: 200px;
    left: 490px;
    z-index: 6;
    transform: skewX(-5deg);
    transform: skewY(9deg);
    transform-origin: top right;
    border: 5px solid white;
}
