* {
    box-sizing: border-box;
    margin: 0;
}

.front-wall {
    background: Tan;
    /* background: bisque; */
    height: 350px;
    width: 350px;
    display: flex;
    position: fixed;
    right: 700px;
    bottom: 75px;
    transform: skewX(2deg);
    transform: skewY(-3deg);
    transform-origin: center left;
    z-index: 2;
}

.sand {
    background: AntiqueWhite;
    height: 200px;
    width: 60vw;
    display: flex;
    position: absolute;
    bottom: 0px;
}

.ocean {
    background: linear-gradient(Midnightblue, mediumblue);
    height: 200px;
    width: 40vw;
    display: flex;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.slanted-wall {
    background: #c29a74;
    /* background: #c29a74; */
    height: 350px;
    width: 315px;
    display: flex;
    position: fixed;
    right: 1050px;
    bottom: 75px;
    transform: skewX(-5deg);
    transform: skewY(9deg);
    transform-origin: top right;
    z-index: 2;
}

.door {
    position: fixed;
    background: #630202;
    height: 150px;
    width: 100px;
    bottom: 88px;
    right: 820px;
    z-index: 4;
    transform: skewX(2deg);
    transform: skewY(-3deg);
    transform-origin: top right;
    border: 5px solid #520505;
}

.left-roof {
    position: absolute;
    display: flex;
    background: #630202;
    height: 300px;
    width: 350px;
    right: 1090px;
    top: 40px;
    transform: skewX(5deg);
    transform: skewY(10deg);
    transform: rotate(38deg);
    transform-origin: bottom right;
    z-index: -3;
}

.right-roof {
    position: absolute;
    display: flex;
    background: #630202;
    height: 300px;
    width: 325px;
    right: 807px;
    top: -55px;
    transform: skewX(5deg);
    transform: skewY(10deg);
    transform: rotate(31deg);
    transform-origin: bottom left;
    z-index: -3;
}

.roof-gap {
    position: absolute;
    display: flex;
    background: #630202;
    height: 50px;
    width: 70px;
    top: 0px;
    right: 985px;
}

.background1 {
    background: linear-gradient(#6a0d83, #ce4993);
    position: absolute;
    display: flex;
    height: 100px;
    width: 100vw;
    top: 0px;
    z-index: -5;
}

.background2 {
    background: linear-gradient(#ce4993, #ee5d6c);
    position: absolute;
    display: flex;
    height: 100px;
    width: 100vw;
    top: 100px;
    z-index: -5;
}

.background3 {
    background: linear-gradient(#ee5d6c, #fb9062);
    position: absolute;
    display: flex;
    height: 100px;
    width: 100vw;
    bottom: 300px;
}

.background4 {
    background: linear-gradient(#fb9062, #eeaf61);
    position: absolute;
    display: flex;
    height: 100px;
    width: 100vw;
    bottom: 200px;
}

.window1-pane {
    position: absolute;
    display: flex;
    height: 80px;
    width: 80px;
    background: PaleTurquoise;
    bottom: 300px;
    right: 835px;
    z-index: 6;
    transform: skewX(2deg);
    transform: skewY(-3deg);
    transform-origin: top right;
    border-radius: 50%;
    border: 5px solid #630202;
}

.window1-frame1 {
    position: absolute;
    display: flex;
    height: 80px;
    width: 5px;
    background: #630202;
    bottom: 298px;
    right: 871px;
    z-index: 8;
    transform: skewX(2deg);
    transform: skewY(-3deg);
    transform-origin: top right;
}

.window1-frame2 {
    position: absolute;
    display: flex;
    height: 5px;
    width: 80px;
    background: #630202;
    bottom: 335px;
    right: 835px;
    z-index: 8;
    transform: skewX(2deg);
    transform: skewY(-3deg);
    transform-origin: top right;
}

.window2-pane {
    position: absolute;
    display: flex;
    height: 130px;
    width: 130px;
    background: PaleTurquoise;
    bottom: 200px;
    left: 90px;
    z-index: 6;
    transform: skewX(-5deg);
    transform: skewY(9deg);
    transform-origin: top right;
    border: 5px solid #630202;
}

.window2-frame1 {
    position: absolute;
    display: flex;
    background: #630202;
    height: 130px;
    width: 5px;
    bottom: 210px;
    left: 150px;
    z-index: 8;
    transform: skewX(-5deg);
    transform: skewY(9deg);
    transform-origin: top right;
}

.window2-frame2 {
    position: absolute;
    display: flex;
    background: #630202;
    height: 50px;
    width: 130px;
    bottom: 284px;
    left: 90px;
    z-index: 9;
    transform: skewX(5deg);
    transform: skewY(10deg);
    transform: rotate(10deg);
    transform-origin: top right;
}
