@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Press+Start+2P&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Rubik", sans-serif;
    background: LavenderBlush;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    position: fixed;
    background: DeepPink;
    top: 0px;
    right: 0px;
    left: 0px;
    transition: 0.3s ease-in-out;
    height: 80px;
}

.nav.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}

.logo a {
    color: white;
    font-size: 24px;
    top: 0px;
    left: 0px;
    padding: 0px 60px 0px 0px;
}

.nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 15px;
}
