@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Press+Start+2P&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Rubik", sans-serif;
    overflow-x: hidden;
    padding-bottom: 50px;
    background: LavenderBlush;
}

.container {
    max-width: 1350px;
    margin: 0 auto;
}

.nav {
    position: fixed;
    background: #f52776;
    top: 0;
    right: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
    height: 80px;
}

.nav.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}

.nav a {
    text-decoration: none;
    color: #ffffff;
}

.nav a:hover {
    font-weight: bold;
    color: LavenderBlush;
}

.logo a {
    display: flex;
    font-size: 28px;
    top: 0px;
    left: 0px;
    padding: 3px 0px 0px 11px;
}

.nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 14px;
    font-size: 17px;
}

.hero {
    height: 100vh;
    background-image: url('../images/pinkbeachbackground.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    z-index: -2;
}

.hero h1 {
    font-size: 40px;
    margin: -20px 0px 20px;
}

.hero p {
    font-size: 20px;
    letter-spacing: 1px;
}

.content h3 {
    font-size: 150%;
    margin: 20px 40px;
    color: #d40252;
}

.content p {
    color: #d40252;
    line-height: 30px;
    letter-spacing: 1.2px;
    margin: 20px 40px;
}

.nav.active {
    background-color: LavenderBlush;
}

.nav.active a {
    color: #f52776;
}

.btn {
    display: flex;
    height: 35px;
    width: 35px;
    background: #f52776;
    top: 7px;
    right: 20px;
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid pink;
}

.btn h1 {
    font-size: 12px;
    padding: 2px;
    color: #ffffff;
}

.btn.active {

}
