* {
    box-sizing: border-box;
}

body {
    background: red;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    margin: 0;
}

.square {
    background: blue;
    position: relative;
    height: 50px;
    width: 50px;
}
