
* {
    box-sizing: border-box;
}

body {
    background: rgb(237, 9, 138);
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    margin: 0;
}

.search {
    position: relative;
    height: 50px;
}

.input {
    background: white;
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 200px;
}

.btn {
    background: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    left: 0;
}

.input:focus {
    outline: none;
}
