@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background: lavenderblush;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.btn {
    font-family: "Montserrat", sans-serif;
    background: deeppink;
    color: white;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    opacity: 0.9;
}

.nav.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}

.nav {
    position: fixed;
    top: 0px;
    left: 20px;
    transition: all 0.3s ease-in-out;
}

.nav {
    color: 
}

.nav a:hover {
    font-weight: bold;
    color:
}
